@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #1a1b26;
    --fg: #a9b1d6;
    --blk: #32344a;
    --red: #f7768e;
    --grn: #9ece6a;
    --ylw: #e0af68;
    --blu: #7aa2f7;
    --mag: #ad8ee6;
    --cyn: #0db9d7;
    --brblk: #444b6a;

    --background: #1a1b26;
    --foreground: #c0caf5;
    --muted: #a9b1d6;
    --comment: #565f89;
  }
}
